<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="UTF-8">
  <title>AprovechÁpp! Ofertas sustentables</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<section>
  <div class="container-fluid p-4 ps-5 border border-success shadow" style="background-color: #CBDDB8;">
    <h3 class=" bold text-center">¡Bienvenidos y bienvenidas a AprovechÁpp!</h3>
  </div>
  <div class="container mx-auto my-5 px-lg-5 row">

    <div class="px-xl-7 col-md-12 col-lg-7 col-xl-8">

      </h3>


      <h3>
        Descubre Nuestra Historia en AprovechApp
      </h3>


      <p>
        Descubre la esencia detrás de AprovechApp, una narrativa que fusiona nuestra pasión por la sostenibilidad con el compromiso de transformar Mar del Plata, Argentina. Desde nuestros inicios, hemos liderado el cambio al abordar el desperdicio alimentario y convertir los descartes agrícolas en oportunidades deliciosas y accesibles para todos.
      </p>

      <h4 class="fw-semibold">
        Nuestra Misión: Despertar Paladares, Reducir Desperdicios
      </h4>

      <p>
        Sumérgete en la visión de un mundo donde cada individuo puede deleitarse con productos frescos y exquisitos a precios irresistibles. AprovechApp no es solo una plataforma en línea; representa un compromiso arraigado en la sostenibilidad y la colaboración comunitaria. Trabajamos en estrecha colaboración con las verdulerías locales para rescatar alimentos que, aunque perfectos en sabor y nutrición, a menudo son pasados por alto debido a criterios estéticos o de madurez.
      </p>

      <h4 class="fw-semibold">
        Nuestra Operación en AprovechApp
      </h4>

      <p>
        Adentrarse en AprovechApp es adentrarse en un mercado virtual donde se entrelazan la frescura y la responsabilidad. Los administradores de las verdulerías seleccionan con esmero productos que, por diversas razones, no cumplen con los estándares comerciales, pero que son una delicia para el paladar. Estos productos se ofrecen a precios muy bajos, brindando a nuestros usuarios la oportunidad de realizar compras conscientes y sostenibles.
      </p>

      <h4 class="fw-semibold">
        Viaje desde el Origen hasta tu Mesa
      </h4>

      <p>
        Te invitamos a un viaje con AprovechApp, una conexión directa desde el campo hasta tu mesa. Cada compra es una elección a favor de la sustentabilidad y en contra del desperdicio alimentario. Únete a nosotros mientras transformamos descartes en delicias y contribuimos juntos a un futuro más consciente y respetuoso con el medio ambiente.
      </p>

      <h4 class="fw-semibold">
        Explora, Degusta y Aprovecha con AprovechApp. ¡Te damos la bienvenida a una nueva dimensión de frescura!
      </h4>


    </div>


    <div class="col-md-12 col-lg-6 col-xl-4 mx-auto text-center">
      <img th:src="@{/img/equipo-aprovechapp.jpg}" alt="Imagen de ensalada" class="rounded-circle"
           style="max-width: 350px; max-height: 350px;">
    </div>

  </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
